* {
    margin: 0%;
    padding: 0%;
}

.small-size-text {
    font-size: 0.7em;
}

.negative-margin {
    margin-bottom: -0.8em;
}

.full-size {
    width: 100%;
}

.form-control:focus {
    box-shadow: none;
}

.input-containers>div>p {
    font-size: small;
    visibility: hidden;
    margin-bottom: -0.6em;
    margin-left: 1em;
}